<div class="testimonial-card">
    <div class="image-wrapper">
      <img [src]="image" alt="Card Image" class="testimonial-image" />
      <div class="wm-popular-hover"></div>
      <button class="read-more-btn">READ MORE</button>
    </div>
  
    <div class="testimonial-header">{{ title }}</div>
  
    <div class="testimonial-body">
      <p>{{ description }}</p>
      <ul>
        <li *ngFor="let point of points">
          <span class="checkmark">✔</span> {{ point }}
        </li>
      </ul>
    </div>
  </div>
  