@import "./varibles";
@import "./color";
@import "./fonts";
@import "./page";
@import "./form";
@import "./table";

.dark {
  input {

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: #fff;
      -webkit-box-shadow: 0 0 0 1000px #22375b inset;
      -webkit-transition: background-color 5000s ease-in-out;
      transition: background-color 5000s ease-in-out 0s;
    }
  }
}