<div class="contact-section">
    <div class="header">
      <h4><span class="dark">Contact</span> <span class="gold">Us</span></h4>
      <h2>Talk To Us Today</h2>
    </div>
  
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
      <div class="form-group">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Name" formControlName="name">
      </div>
      <div class="form-group">
        <i class="fas fa-paper-plane"></i>
        <input type="email" placeholder="E-mail" formControlName="email">
      </div>
      <div class="form-group">
        <i class="fas fa-phone"></i>
        <input type="text" placeholder="Phone" formControlName="phone">
      </div>
      <div class="form-group message">
        <i class="fas fa-envelope"></i>
        <textarea rows="5" placeholder="Message" formControlName="message"></textarea>
      </div>
      <div class="btn-wrapper">
        <button type="submit">SEND MESSAGE</button>
      </div>
    </form>
  </div>
  