<div class="carousel-wrapper">
  <div class="header">
    <h4 class="double-underline"><span class="dark">About</span> <span class="gold"> Us</span></h4>
  </div>

  
  <div class="description">
    <p>Welcome to Gajaashwa Inc - your trusted partner for cutting-edge transactional website solutions!</p>
    <p>At Gajaashwa Inc, we recognize the pivotal role transactional websites play in today's fast-paced digital world. Whether you run an e-commerce store, a booking platform, or a service-based business, our expertise and solutions empower your online transactions and propel your business forward.</p>
  </div>

  <h2 class="heading">Why Choose Gajaashwa Inc?</h2>
  <div class="carousel-window">
    @for (item of items; track item.title; let i = $index) {
      <div class="carousel-item"
           [class.active]="i === currentIndex"
           [class.second]="i === (currentIndex + 1) % items.length"
           [class.third]="i === (currentIndex + 2) % items.length"
           [class.incoming]="i === (currentIndex + 2) % items.length && isAnimating">
        <span class="title">{{ item.title }}</span>
        <span class="subtitle">{{ item.description }}</span>
      </div>
    }
  </div>
  <div class="carousel-controls">
    <button (click)="prev()"><mat-icon>west</mat-icon></button>
    <button (click)="next()"><mat-icon>east</mat-icon></button>
  </div>

  <div class="description">
    <p>At Gajaashwa Inc, we are passionate about helping businesses excel in the digital realm. Whether you're launching a new website or enhancing an existing one, we provide tailored solutions to meet your unique needs.</p>
    <p>Elevate your online transactions with Gajaashwa Inc. Contact us today to explore a seamless, secure, and high-performing website solution designed for your success!</p>
  </div>
</div>